* {
	font-family:
		Comic Sans MS,
		Comic Sans;
}

html {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 100 100'%3E%3Ctext x='50%25' y='50%25' dominant-baseline='middle' text-anchor='middle' font-size='10' fill='white'%3E🩼%3C/text%3E%3C/svg%3E");
	background-size: 100px;
	background-repeat: repeat;
	background-color: #eeeeee;
}

body {
	display: flex;
	flex-direction: column;

	width: 100vw;
	height: 100vh;

	max-width: 800px;
	margin: 0 auto;

	padding: 0px 20px 0px 20px;

	-webkit-font-smoothing: antialiased;
}

figure {
	border: thin #c0c0c0 solid;
	display: flex;
	flex-flow: column;
	padding: 5px;
	margin: auto;
	max-width: 220px;
}

figcaption {
	background-color: #222;
	color: #fff;
	font: italic smaller sans-serif;
	padding: 3px;
	text-align: center;
}

header {
	flex-grow: 0;
	text-align: center;

	padding: 20px;

	color: white;
	background-color: black;
}

main {
	flex-grow: 1;
	background-color: white;
	padding: 20px;
}

footer {
	flex-grow: 0;
	text-align: center;

	padding: 20px;

	color: white;
	background-color: black;
}

a {
	text-decoration: none;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

.active {
	font-weight: bold;
	animation: rainbow 5s infinite;
}

a:hover {
	text-decoration: underline;
	animation: rainbow 5s infinite;
}

header nav ul {
	display: flex;
	gap: 20px;

	list-style: none;
}

header a,
footer a {
	color: #ffffff;
}

@keyframes rainbow {
	0% {
		color: #ff0000;
	}
	16% {
		color: #ff7f00;
	}
	32% {
		color: #ffff00;
	}
	48% {
		color: #00ff00;
	}
	64% {
		color: #0000ff;
	}
	80% {
		color: #4b0082;
	}
	100% {
		color: #8a2be2;
	}
}

.rainbow-text {
	font-weight: bold;
	animation: rainbow 5s infinite;
}

@media screen and (max-width: 600px) {
	body {
		padding: 0;
	}
}
