@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family:
		Comic Sans MS,
		Comic Sans;
}

.active {
	font-weight: bold;
	animation: rainbow 5s infinite;
}

a:hover {
	text-decoration: underline;
	animation: rainbow 5s infinite;
}

@keyframes rainbow {
	0% {
		color: #ff0000;
	}
	16% {
		color: #ff7f00;
	}
	32% {
		color: #ffff00;
	}
	48% {
		color: #00ff00;
	}
	64% {
		color: #0000ff;
	}
	80% {
		color: #4b0082;
	}
	100% {
		color: #8a2be2;
	}
}
