<div>
	<h2>📖 Guest book</h2>
	<hr />
	<p>Please sign my guest book. Thank you! 🙏</p>

	<form action="/guest-book" method="post">
		<div>
			<label for="name">Name</label>
			<input type="text" name="name" id="name" />
		</div>

		<div>
			<label for="name">Message</label>
			<input type="text" name="message" id="message" />
		</div>

		<input type="submit" value="Sign" />
	</form>

	<div style="display: flex; flex-direction: column; gap: 20px; margin-top: 20px">
		<% for (let i=0; i < users.length; i++) { %>
		<div style="display: flex; flex-direction: column">
			<div style="display: flex; align-items: center; gap: 10px">
				<h4 style="margin: 0 5px"><%= users[i].emoji %> <%= users[i].name %></h4>
				<small> <%= users[i].created_at %> </small>
			</div>
			<p><%= users[i].message %></p>
		</div>
		<% } %>
	</div>
</div>

<script src="/js/confetti.browser.min.js"></script>

<script>
	async function getUserIp() {
		return (
			await fetch('https://ip.jaw.dev/', {
				headers: {
					'Content-Type': 'application/json',
				},
			})
		).json();
	}

	document.addEventListener('DOMContentLoaded', async (event) => {
		const success = new URLSearchParams(window.location.search).get('success');

		if (success === 'true') {
			confetti({
				particleCount: 100,
				spread: 70,
				origin: { y: 0.6 },
			});
		}

		// remove ?success=true
		setTimeout(() => {
			window.history.replaceState({}, document.title, window.location.pathname);
		}, 1000);

		const ip = await getUserIp();
		document.getElementById('name').value = ip.ip;
	});
</script>
