
<script src="/js/confetti.browser.min.js?v=0.1"></script>
<script>
	async function getUserIp() {
		return (
			await fetch('https://ip.jaw.dev/', {
				headers: {
					'Content-Type': 'application/json',
				},
			})
		).json();
	}

	function removePointingDiv() {
		const poiinitgDiv = document.getElementById('pointing');
		if (poiinitgDiv) {
			poiinitgDiv.parentNode.removeChild(poiinitgDiv);
		}
	}

	document.addEventListener('DOMContentLoaded', async (event) => {
		const isSigned = localStorage.getItem('signed');

		if (isSigned === 'true') {
			removePointingDiv();
		}

		const success = new URLSearchParams(window.location.search).get('success');

		if (success === 'true') {
			removePointingDiv();
			localStorage.setItem('signed', 'true');

			confetti({
				particleCount: 100,
				spread: 70,
				origin: { y: 0.6 },
			});

			// remove?success=true
			setTimeout(() => {
				window.history.replaceState({}, document.title, window.location.pathname);
			}, 1000);
		}

		const ip = await getUserIp();
		document.getElementById('name').value = ip.ip;
	});
</script>

<div>
	<div
		id="pointing"
		class="animate__animated animate__fadeInDownBig fixed z-50 bottom-16 right-0"
	>
		<img src="/img/etc/pointing.gif" alt="pointing" />
		<p class="rainbow-text bg-orange-500 p-4 rounded-lg">
			Please sign my GUEST BOOK!
		</p>
	</div>

	<h2>📖 Guest book</h2>
	<hr />
	<!-- flash -->
	<%- include('../components/flash-messages.html') %>

	<form action="/guest-book" method="post">
		<div class="hidden h-0 w-0">
			<label for="name">Name</label>
			<input type="text" name="name" id="name" />
		</div>

		<div>
			<label for="name">Message</label>
			<input type="text" name="message" id="message" />
		</div>

		<input type="submit" value="Sign" />
	</form>

	<div class="flex flex-col gap-20 mt-20">
		<% for (let i=0; i < users.length; i++) { %>
		<div class="flex flex-col">
			<div class="flex items-center gap-5">
				<h4 class="m-0 mr-5"><%= users[i].emoji %></h4>
				<small><%= users[i].created_at %></small>
			</div>
			<p><%= users[i].message %></p>
		</div>
		<% } %>
	</div>
</div>
