<div>
	<div>
		<figure>
			<img src="/img/etc/flex.jpeg" alt="you mirin bro" />
			<figcaption class="animate__animated animate__heartBeat">I snap my leg recently!</figcaption>
		</figure>

		<span id="users-online"></span>
	</div>

	<h2>📃 Posts</h2>
	<hr />

	<% for (let i=0; i < posts.length; i++) { %>
	<h2 class="post">
		<a href="/posts/<%= posts[i].title %>" title="<%= posts[i].title %>"> <%= posts[i].title %> </a>
	</h2>
	<% } %>
</div>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		const posts = document.getElementsByClassName('post');
		if (posts.length > 0) {
			posts[0].innerHTML = posts[0].innerHTML + '<img src="/img/etc/new.gif" width="50" />';
			posts[0].style.display = 'flex';
			posts[0].style.gap = '5px';
		}
	});
</script>
