<script>
	document.addEventListener('DOMContentLoaded', function () {

		// add new gif beside post gigle
		const posts = document.getElementsByClassName('post');
		if (posts.length > 0) {
			posts[0].innerHTML = posts[0].innerHTML + '<img src="/img/etc/new.gif" width="50" />';
			posts[0].style.display = 'flex';
			posts[0].style.gap = '5px';
		}


		// playlist
		const audio = [
			{
				id: 'shes-got-the-look',
				url: '/audio/shes-got-the-look.mp3?v=0.1',
			},
			{
				id: 'highway-to-hell',
				url: '/audio/highway-to-hell.mp3?v=0.1',
			},
			{
				id: 'black-betty',
				url: '/audio/black-betty.mp3?v=0.1',
			},
		];

		// play on click
		for (const a of audio) {
			const button = document.getElementById(a.id);
			button.addEventListener('click', (e) => {
				play(a.id);
			});
		}

		// play random on load
		setTimeout(() => {
			const selectedTrack = audio[Math.floor(Math.random() * audio.length)];
			document.getElementById('music').src = selectedTrack.url;
		}, 100);

		// play a song
		function play(id) {
			const selectedTrack = audio.find((a) => a.id === id);
			document.getElementById('music').src = selectedTrack.url;
			document.getElementById('music').play();
		}

	});

</script>

<div>

	<div>
		<!-- pic div -->
		<figure>
			<img src="/img/etc/flex.jpeg" alt="you mirin bro" />
			<figcaption class="animate__animated animate__heartBeat">I snap my leg recently!</figcaption>
		</figure>

		<!-- audio -->
		<div style="display: flex; justify-content: center; align-items: center; margin-top: 15px;">
			<audio id="music" controls autoplay="autoplay" preload="auto" loop="true">
				<source src="/audio/highway-to-hell.mp3?v=0.1" type="audio/mpeg">
				<span class="rainbow-text"> ‼️🚨 our browser does not support the audio element. 🚨 ‼️</span>
			</audio>
		</div>

		<!-- playlist -->
		<div style="display: flex; justify-content: center; align-items: center; margin-top: 15px;">
			<table border="1">
				<tr>
					<td>she's got the look</td>
					<td><button id="shes-got-the-look">play</button></td>
				</tr>
				<tr>
					<td>black betty</td>
					<td><button id="black-betty">play</button></td>
				</tr>
				<tr>
					<td>high way to hell</td>
					<td><button id="highway-to-hell">play</button></td>
				</tr>
			</table>
		</div>

		<!-- visitor -->
		<p style="text-align: center;">Visitors online: <span id="user-online" class="rainbow-text"
				style="font-weight: bold;"></span>. You are visitor: <span class="rainbow-text">
				<%= count %>
			</span>. Don't forgot to <a href="/guest-book" title="guest-book" style="font-weight: bold;">sign my guest
				book!</a></p>
	</div>

	<!-- posts -->
	<h2>📃 Posts</h2>
	<hr />

	<% for (let i=0; i < posts.length; i++) { %>
		<h2 class="post">
			<a href="/posts/<%= posts[i].title %>" title="<%= posts[i].title %>">
				<%= posts[i].title %>
			</a>
		</h2>
	<% } %>
</div>
