<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ankle.jaw.dev</title>
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🩼</text></svg>" />
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    body {
      min-height: 100vh;
      min-width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;
      color: white;
      font-family: Comic Sans MS, Comic Sans;
    }
  </style>
</head>

</body>
<h1>Too many requests, please try again later?</h1>

</html>
