<!doctype html>
<html lang="en">
	<!-- head -->
	<%- include('../components/head.html') %>

	<body class="flex flex-col min-h-screen relative w-screen bg-black overflow-x-hidden">
		<!-- partial-js -->
		<!-- <div id="particles-js" class="absolute z-0"></div> -->

		<!-- animated gif -->
		<%- include('../components/background-gif.html') %>

		<!-- header -->
		<%- include('../components/header.html') %>

		<!-- main -->
		<main class="flex-1 h-full bg-white p-5">
			<a href="/"><h2>⬅️ Back</h2></a>
			<hr />

			<!-- pages -->
			<%- body %>
		</main>

		<!-- footer -->
		<%- include('../components/footer.html') %>
	</body>
</html>
