<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title><%= title %></title>
	<link
		rel="icon"
		href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🩼</text></svg>"
	/>
	<script defer data-domain="ankle.jaw.dev" src="http://plausible.jaw.dev/js/script.js"></script>
	<link rel="stylesheet" href="/css/main.css?v=0.14" />
	<link rel="stylesheet" href="/css/animate.min.css?v=0.2" />
	<script src="/js/particles.min.js?v=0.2"></script>
	<script src="/js/socket.io.min.js?v=0.1"></script>
	<script src="/js/client.js?v=0.3"></script>
</head>
