<!-- header -->
<header class="flex-grow-0 flex justify-center flex-col items-center text-white bg-black bg-opacity-50 p-5 gap-5">

	<!-- image -->
	<a href="/">
		<img src="/img/etc/broken-ankle.gif" alt="broken ankle" />
	</a>

	<!-- description -->
	<marquee class="w-[300px]">
		<%= app.description %>
	</marquee>

	<!-- nav -->
	<nav>
		<ul class="flex gap-5">
			<li><a href="/" class="<%- path === '/' ? 'active' : ''%>">🏠 home</a></li>
			|
			<li>
				<a href="/guest-book" class="<%- path === '/guest-book' ? 'active' : ''%>">📖 guest book</a>
			</li>
			|
			<li><a href="/gallery" class="<%- path === '/gallery' ? 'active' : ''%>">🖼️ gallery</a></li>
		</ul>
	</nav>
</header>
