<div>
	<!-- header -->
	<header>
		<a href="/" style="display: flex; justify-content: center">
			<img src="/img/etc/broken-ankle.gif" alt="broken ankle" />
		</a>
		<marquee width="250"><%= app.description %></marquee>

		<!-- nav -->
		<nav>
			<ul>
				<li><a href="/" class="<%- path === '/' ? 'active' : ''%>">🏠 home</a></li>
				|
				<li>
					<a href="/guest-book" class="<%- path === '/guest-book' ? 'active' : ''%>"
						>📖 guest book</a
					>
				</li>
				|
				<li><a href="/gallery" class="<%- path === '/gallery' ? 'active' : ''%>">🖼️ gallery</a></li>
			</ul>
		</nav>
	</header>
</div>
